@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap');

$color-primary: hsl(25, 97%, 53%);
$font-size-base: .9375rem;
$font-family: 'Overpass', sans-serif;

$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(217, 12%, 63%);
$color-medium-grey: hsl(216, 12%, 54%);
$color-dark-blue: hsl(213, 19%, 18%);
$color-very-dark-blue: hsl(216, 12%, 8%);